.hom{
    color: aqua;
    font-size: x-large;
    display: block;
}

.grey1{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
}
.grey2{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
   vertical-align: top;
}
.grey3{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
}
.grey4{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
}
.grey5{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
}
.pa{
    font-size:large;
    color: beige;
}
.mb{
    border: 25px;
    border-radius: 10px;
    background-color: azure;
    font-size: larger;
}

.macaw1{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
}
.macaw2{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;  
}
.macaw3{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;    
}
.macaw4{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
}
.macaw5{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
}
.gold{
    width: 200px;
    display: inline-block;  
    margin-left: 50px;
}
.gold1{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
}
.gold2{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
}
.gold3{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
}
.gold4{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
}
